*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  height: 100%;

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  @include respond(big-desktop) {
    margin: 0 auto;
    max-width: 1600px;

    background-image: linear-gradient(to right bottom, rgba(224, 234, 252, 0.8), rgba(207, 222, 243, 0.8)), url(../../public/images/art-mountain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

::selection {
  color: $blue-500;
  background-color: $green-300;
}
