// COLORS
$cold-gray-100: #e9eef1;
$cold-gray-200: #cbd6dc;
$cold-gray-300: #acbec8;
$cold-gray-400: #8ea6b3;
$cold-gray-500: #6f8e9f;
$cold-gray-600: #587483;
$cold-gray-700: #435965;
$cold-gray-800: #2f3e46;
$cold-gray-900: #1b2327;

$green-100: #f6fedd;
$green-200: #e8fcac;
$green-300: #dafb7a;
$green-400: #cdf949;
$green-500: #bff718;
$green-600: #a1d507;
$green-700: #7ca405;
$green-800: #567204;
$green-900: #314102;

$blue-100: #ccf4ff;
$blue-200: #99e9ff;
$blue-300: #66dfff;
$blue-400: #33d4ff;
$blue-500: #00c9ff;
$blue-600: #00a1cc;
$blue-700: #007999;
$blue-800: #005066;
$blue-900: #002833;

$red-100: #ffe7e7;
$red-200: #feb5b5;
$red-300: #fe8282;
$red-400: #fd5050;
$red-500: #fd1d1d;
$red-600: #e50202;
$red-700: #b20202;
$red-800: #800101;
$red-900: #4d0101;

$facebook-gradient: linear-gradient(to bottom, #00c6ff, #0072ff);
$instagram-gradient: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
$main-gradient: linear-gradient(to right, $blue-600, $green-500);

// FONT
$default-font-size: 1.6rem;
