@import '/src/sass/variables';
@import '/src/sass/mixins';

.section {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  @include respond(tab-port) {
    flex-direction: column;
    height: fit-content;
  }

  &__yoga {
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem 0;

    @include respond(tab-port) {
      width: 90%;
    }
  }

  &__title {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-size: 2.2rem;
    padding: 1rem;
    margin-top: 1rem;
    @include respond(tab-port) {
      width: 100%;
      font-size: 3rem;
    }
  }
  &__inscription {
    font-size: 1.5rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
  &__img {
    min-height: 100vh;
    width: 50%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include respond(tab-port) {
      width: 100%;
    }
  }
  &__price {
    text-align: center;
    color: $green-600;
    font-weight: 600;
  }
}

.img__1 {
  position: relative;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  }
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.img__2 {
  position: relative;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.member__img {
  position: relative;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
