@import '../sass/variables';

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.hero__img {
  position: relative;
  z-index: -1;
  width: 70vw;
  height: 100vh;
  transition: all 0.2s ease;

  background-image: linear-gradient(to right bottom, rgba(4, 255, 104, 0.6), rgba(5, 126, 247, 0.6)), url('/images/chalk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }
}

.hero__banner {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 24rem;
}

.maintitle {
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: 300;
  padding: 4rem;
}

.subtitle {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero__cta {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.btn__main {
  color: $green-600;
  padding: 1rem 3rem;
  background-color: white;
  border: 3px solid $green-600;
  border-radius: 4rem;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.2s;
  position: relative;

  &:hover {
    color: white;
    background-color: $green-600;
    transform: translateY(-4px);
    box-shadow: 2px 5px 10px #888888;

    &::after {
      background-color: $green-500;
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 1px 3px 5px #888888;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.section__about {
  height: 50vh;
  background-color: $cold-gray-400;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
  color: white;
}

.section__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.features__banner {
  font-size: 2rem;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
}

.features__container {
  margin-top: 3rem;
  display: flex;
  width: 90%;
  max-width: 1200px;
  justify-content: space-around;
  align-items: stretch;
}
