@import '/src/sass/variables';
@import '/src/sass/mixins';

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 95vh;

  @include respond(tab-port) {
    justify-content: center;
  }

  @include respond(big-desktop) {
    max-width: 180rem;
  }
}

.hero__img {
  position: relative;
  z-index: -1;
  width: 70vw;
  height: 100vh;
  transition: all 0.2s ease;

  background-image: linear-gradient(to right bottom, rgba(4, 255, 104, 0.6), rgba(5, 126, 247, 0.6)), url('/images/chalk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }

  @include respond(tab-port) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.hero__banner {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 15rem;

  @include respond(tab-port) {
    height: 100%;
    width: 100%;
    max-width: 40rem;
    border-radius: 1rem;
    padding: 3rem;
    color: white;
  }
}

.subtitle {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero__cta {
  width: 70%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  @include respond(tab-port) {
    margin-left: 2rem;
  }
}

.banner,
.banner__2 {
  height: 50vh;
  background-color: $cold-gray-400;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 4rem;
  @include respond(tab-port) {
    height: 35vh;
    font-size: 3.5rem;
  }
}

.banner__2 {
  margin-top: -4.55rem;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 10rem;

  &__banner {
    font-size: 2rem;
    max-width: 90rem;
    text-align: center;
    line-height: 1.5;
  }

  &__container {
    margin-top: 3rem;
    display: flex;
    width: 90%;
    max-width: 120rem;
    justify-content: space-around;
    align-items: stretch;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      height: 140rem;
    }
  }
}

.shift {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  height: 90vh;
  @include respond(tab-port) {
    background-color: transparent;
  }

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    @include respond(tab-port) {
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    &__group {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      line-height: 1.5;
      width: 100%;
    }

    &__1 {
      font-size: 2.6rem;
      color: $blue-700;
    }

    &__2 {
      font-size: 2rem;
      color: $cold-gray-600;
    }

    &__3 {
      font-size: 2rem;
      color: $red-500;
    }
  }

  &__menu {
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-around;
    font-size: 2.2rem;
  }

  &__img {
    &__container {
      overflow: hidden;
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
      }

      @include respond(tab-port) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }

    width: 60vw;
    height: 100%;
    transition: all 1s ease-out;
    transform: scale(1.1);

    background-image: linear-gradient(to right bottom, rgba(4, 255, 104, 0.6), rgba(5, 126, 247, 0.6)), url('/images/boulder-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;

    &:hover {
      transform: scale(1);
    }

    @include respond(phone) {
      width: 100%;
      background-position: center;
    }
    @include respond(tab-port) {
      width: 100%;
      background-attachment: fixed;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -10rem;

    @include respond(phone) {
      width: 80%;
    }

    @include respond(tab-port) {
      background-color: rgba(255, 255, 255, 0.85);
      margin-right: 0;
      border-radius: 4px;
    }
  }
}

.testimonies {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: -4.5rem;

  background-image: linear-gradient(to right bottom, rgba(120, 2, 6, 0.5), rgba(6, 17, 97, 0.7)), url('/images/ye-nature-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 92%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
  }

  @include respond(tab-land) {
    height: 80vh;
  }

  &__carousel {
    width: 90%;

    @include respond(tab-land) {
      max-width: 45rem;
    }
  }
}

.location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: -3.5rem;
  z-index: 1;

  &__map {
    width: 100%;
    height: 100%;
  }
}
