@import '/src/sass/variables';
@import '/src/sass/mixins';

.banner {
  height: fit-content;
  background-color: $cold-gray-400;
  letter-spacing: 4px;
  font-size: 5rem;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 12rem 8rem;
  @include respond(tab-port) {
    font-size: 3.5rem;
    padding: 10rem 8rem;
  }
  @include respond(phone) {
    font-size: 3rem;
    padding: 8rem 4rem;
  }
}
