@import '/src/sass/variables';
@import '/src/sass/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    & .image {
      transform: scale(0.96);
    }

    & .text {
      transform: scale(1.06);
    }
  }
}

.logo {
  position: relative;
  display: block;

  width: 100px;
  height: 50px;

  @include respond(phone) {
    width: 70px;
    height: 35px;
  }
}

.image {
  transition: all 0.2s ease-out;
}

.text {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.2s ease-out;
  white-space: nowrap;

  @include respond(phone) {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}

.plus {
  color: $green-500;
  font-size: 1.4rem;
}
