@import '/src/sass/variables';

.container {
  color: $cold-gray-500;
  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  justify-content: center;
  align-items: center;
  background: $cold-gray-700;
  overflow: hidden;
  border-radius: 100%;
  transition: all 0.2s ease-out;

  &:hover {
    color: white;
    transform: translateY(-2px);

    & .facebook {
      background-image: $facebook-gradient;
    }

    & .instagram {
      background-image: $instagram-gradient;
    }

    & .icon {
      transform: scale(0.9);
    }
  }
}
.icon {
  height: 110%;
  width: 110%;
  transition: transform 0.4s ease-in;
}

.facebook {
  padding: 8px 4px 0 0;
}

.instagram {
  padding: 3px 4px 1px 4px;
}
