@import '/src/sass/variables';

.container {
  color: $cold-gray-500;
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: $cold-gray-700;
  overflow: hidden;
  border-radius: 100%;
  transition: all 0.2s ease-out;

  &:hover {
    color: white;
    transform: translateY(-2px);
    & .facebook {
      background-image: $facebook-gradient;
    }

    & .instagram {
      background-image: $instagram-gradient;
    }
  }
}
.icon {
  padding: 0.8rem;
  height: 100%;
  width: 100%;
}

.facebook {
  padding-right: 2px;
}

.instagram {
  padding-left: 2px;
}
