@import '/src/sass/variables';
@import '/src/sass/mixins';

.card {
  position: relative;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: $moor-gradient;
  border-radius: 4px;
  box-shadow: 0.3rem 0.8rem 1.5rem rgba(black, 0.2);

  @include respond(tab-port) {
    box-shadow: none;
    background-image: none;
  }

  &__image {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;

    &:hover + .card__text {
      opacity: 0;
    }
  }
  &__text {
    position: absolute;
    width: 60%;
    top: 6rem;
    z-index: 150;
    color: white;
    transition: all 0.2s ease;
    opacity: 1;
    pointer-events: none;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: $blue-500;
    transition: all 0.1s ease-in;

    &:hover {
      color: orangered;
    }
  }
  &__maps {
    margin-top: 2rem;
    position: relative;
    width: 2.4rem;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
