@import '/src/sass/variables';

.container {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem;
  height: 45vh;
  background-color: $cold-gray-800;
}

.banner {
  color: white;
  letter-spacing: 4px;
  padding: 0 1rem 2rem;
}

.logo {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.social {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding: 1rem 2rem;
  width: 80%;
  max-width: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: $cold-gray-400;
  transition: all 0.2s;

  &:hover {
    color: white;
  }
}

.copyright {
  font-size: 1rem;
  color: $cold-gray-300;
  margin-top: 1rem;
}
