@import '/src/sass/variables';
@import '/src/sass/mixins';

.grid {
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 6px;
  display: grid;
  grid-template-columns: [first] 75% [scond]auto;
  grid-auto-rows: 6rem;
}

.item {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__description {
    color: $cold-gray-600;
    font-weight: 600;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &__price {
    text-align: right;
    color: $green-600;
    font-weight: 600;
  }

  &__caveat {
    color: $cold-gray-400;
    font-size: 1.2rem;
  }
}
