@import '/src/sass/variables';

.navbar {
  padding: 0 3rem;
  display: flex;
  background-color: $cold-gray-800;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  min-height: 85px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
}

.link {
  color: $cold-gray-400;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 1rem;
  flex: 1 1 auto;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: $green-500;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    color: $cold-gray-100;
    background-color: $cold-gray-700;

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.active {
  color: white;
  background-color: $cold-gray-700;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: $green-500;
    transition: transform 0.25s ease-out;
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}
